<p>This is the partial for view 1.</p>

<!--<div ng-controller="View1Ctrl">-->
<!--<div id="map"></div>
<div id="capture"></div>-->
<!--</div>-->
<!--<div id="map-container" ng-controller="View1Ctrl">
  <ng-map zoom="11" center="[40.74, -74.18]">
    <marker position="[40.74, -74.18]" />
    <shape name="circle" radius="400" center="[40.74,-74.18]" radius="4000" />
    <control name="overviewMap" opened="true" />
  </ng-map>
</div>-->
<div class="container">
  <div class="row">
    <div ng-controller="View1Ctrl">
      <!--<div class="col-md-4" ng-repeat="pointToAdd in pointsToAdd">-->
      <div class="col-md-4">
        <p>Testing width of column</p>

          <input id="pac-input" class="controls" type="text" placeholder="Point A">
          <input id="pac-input2" class="controls" type="text" placeholder="Point B">
          <input id="pac-input3" class="controls" type="text" placeholder="Waypoints">
          <button ng-click="addWaypoint()">add</button>
          <br>
            <div ng-repeat="x in waypointsDisplay">
              {{x}}
            </div>
            <button ng-click="remove()">Remove</button>
            <button ng-click="startMapping()">Render</button>
            <br>
            <button ng-click="restfulAPI()">RestfulAPI</button>
            <div id="testRest" ng-model="testing">
              {{testing}}
            </div>

      </div>
      <div class="col-md-8">

        <!--<h1 ng-repeat="x in pointsToReach">{{x}}</h1>-->

        <div id="map"></div>
      </div>
    </div>
  </div>
</div>
